@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-instrument-serif: var(--font-instrument-serif);
}
:root {
  --background: #ffffff;
  --foreground: #171717;

  --border: #1c1c1c;
  /* --border: #1f1f1f; */
  --ring: #1f1f1f;
  --muted: #111111;
  --muted-foreground: #1f1f1f;

  --input: #1f1f1f;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-moz-selection {
  color: red;
  background: var(--color-neutral-400);
}

@layer base {
  ::selection {
    @apply bg-indigo-100 text-indigo-500;
  }
}
